version: "3.4"
services:
  pocket:
    image: "pocket.pocket.dnp.dappnode.eth:0.1.0"
    build:
      context: pocket
      args:
        UPSTREAM_VERSION: RC-0.10.3
    restart: unless-stopped
    volumes:
      - "pocket-mainnet:/home/app/.pocket/"
    ports:
      - "26656:26656/udp"
      - "26656:26656/tcp"
    environment:
      KEYFILE_PASSPHRASE: null
      NETWORK: mainnet
      CUSTOM_UI_HTTP_PORT: 80
      SNAPSHOT_URL: "https://pocket-snapshot.liquify.com/files/latest_compressed.txt"
      EXTRA_OPTS: ""
    ulimits:
      nofile:
        soft: 16384
        hard: 16384
volumes:
  pocket-mainnet: {}
